.article
{
    max-height: 100%;
    height: 450px;
    border-right: black 3px solid;
}

.imageContainer
{
    // flex-basis: 400px;
    height: 80%;
}

.articleTitle
{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: solid black 3px;
    background-color: var(--articleTitleBackground);
    height: 20%;
    margin: auto auto;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article:hover
{
    box-shadow: 3px 3px black;
}


@media only screen and (max-width: 767px)
{

    .article
    {
        border: none;
    }
    .categorySectionArticle
    {
        display: flex;
        flex-direction: row;
        max-height: 100%;
        height: 100px;
        border:none;
        border-radius: 25px;
    }


    .categorySectionArticle .imageContainer
    {
        width: 40%;
        height: 100%;
        border:none;
    }

    .categorySectionArticle .articleTitle
    {
        width: 60%;
        height: 100%;
        text-align: left;
        display: block;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 5px;
        line-height: 25px;
        border:none;
        border-left: solid var(--invertedColor) 2px;
        font-size: 14px;
    }
}

