.mainHeading
{
    text-align: center;
    font-size: 8vh;
}

.articleContainer
{
    display: flex;
    width: 80%;
    margin: auto auto;
    margin-top: 5vh;
    height: 25vh;
}

.articleContainer:hover
{
    .articleImageContainer
    {
        margin-right: 0px;
        width: 32%;
        transition-duration: 100ms;
    }
}

.articleImageContainer
{
    width: 30%;
    margin-right: 2%;
}

.articleHeading
{
    margin-bottom: 10px;
}

.articleText
{
    border-left: solid black 3px;
    border-right: solid black 3px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    border-bottom: solid black 3px;
    width: 70%;
    border-top: solid transparent 3px;
}

@media only screen and (max-width: 1023px)
{
    .articleHeading
    {
        margin-bottom: 8px;
        font-size: 20px;
    }
    .articleText
    {
        & section
        {
            font-size: 14px;
        }
    }

}

@media only screen and (max-width: 767px)
{
    .articleContainer
    {
        height: 10vh;
        width: 95%;
        margin-top: 20px;
    }
    .mainHeading
    {
        text-align: center;
        font-size: 5vh;
        margin-top: 20px;
    }
    .articleHeading
    {
        margin-bottom: 4px;
        font-size: 14px;
    }
    .articleText
    {
        & section
        {
            font-size: 10px;
            display: none;
        }
    }

}
